.nbtsow-blog-posts {
	@include bp(xs) {
		margin-bottom: 45px;
	}
	@include bp(sm) {
		margin-bottom: 90px;
	}
	.nbtsow-blog-post {
		@include jw-column();
		@include jw-xs-column(12);
		@include jw-sm-column(6);
		@include bp(xs) {
			margin-bottom: 45px;
		}
		.nbtsow-blog-thumb {
			margin-bottom: 30px;
			img {
				width: 100%;
				height: auto
			}
		}
		.nbtsow-blog-date {
			@include breakpoint(0, 992px) {
				display: none !important;
			}
			text-align: center;
			position: relative;
			@include bp(md) {
				width: 35%;
				float: left;
			}
			padding-top: 45px;
			p {
				@include font-size(1.8);
				color: $c1;
				font-weight: bolder;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
			}
			span {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				@include bp(sm) {
					top: -20px;
					font-size: 100px;
				}
				@include bp(lg) {
					top: -45px;
					font-size: 143px;
				}
				color: #ececec;
				font-weight: bolder;
				z-index: 1;
			}
		}
		.nbtsow-blog-details {
			@include bp(md) {
				width: 65%;
				float: left;
			}
			.nbtsow-blog-title {
				font-weight: bold;
				margin-top: 0;
				a {
					color: #333;
				}
			}
			.nbtsow-blog-meta {
				color: $c1;
				margin-bottom: 30px;
			}
		}
	}
}
