.ow-button-base {
	.ow-button-hover {
		line-height: 20px;
	}
}

.nbtsow-cta-button {
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	background: transparent;
	border-radius: 20px;
	border: 1px solid $c1;
	padding: 8px 15px;
	text-transform: uppercase;
	font-size: 12px;
	transition: all 0.4s;
	cursor: pointer;
	a {
		color: $c1;
	}
	&:hover {
		background: $c1;
		border: 1px solid transparent;
		a {
			color: #fff
		}
	}
}

.jw-b-button {
	.ow-button-base {
		.ow-button-hover {
			font-weight: bold;
			border-width: 1px;
		}
	}
}

.new-products, .new-featured-product {
	.jw-b-button {
		.ow-button-base {
			a {
				border-radius: 30px;
			}
		}
	}
}

.new-products {
	.jw-b-button {
		.ow-button-base {
			a {
				font-size: 12px;
			}
		}
	}
}

.button-ss {
	border: 0;
	text-transform: uppercase;
	background: #d0d0d0;
	color: #444;
	font-size: 12px;
	border-bottom: 3px solid #646464;
	transition: all .4s;
	i {
		margin-right: 10px;
	}
	&:hover {
		background: $c1;
		color: #fff;
	}

}
