.nbtsow-headline-wrap {
	.nbtsow-headline {
		position: relative;
		display: inline-block;
		&:before {
			content: "";
			height: 1px;
			width: 50px;
			position: absolute;
			background: $c1;
			bottom: 3px;
			left: -65px;
		}
		&:after {
			content: "";
			height: 1px;
			width: 50px;
			position: absolute;
			background: $c1;
			bottom: 3px;
			right: -65px;
		}
	}
}
